<tr>
  <td>
    <%= user.decorate.full_name %>
  </td>
  <td>
    <%= user.grade_id %>
  </td>
  <td>
    <%= user.user_class_id %>
  </td>
  <td>
    <%= user.nickname %>
  </td>
  <td>
    <%= l user.created_at, format: :long %>
  </td>
</tr>
