<% content_for(:title, t('.title')) %>
<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb"></nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t '.title' %></h1>
    </div>
    <%= form_with url: create_group_user_teacher_group_path(@group), method: :post do |f| %>
      <% @users.each do |user| %>
        <div>
          <%= check_box_tag "user_ids[]", user.id %>
          <%= label_tag "user_#{user.id}", user.decorate.full_name %>
        </div>
      <% end %>
      <%= submit_tag "Add Users" %>
    <% end %>
  </div>
</section>