<% content_for(:title, t('.title')) %>
<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb"></nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t '.title' %></h1>
    </div>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>グループ名</th>
            <th>メンバー</th>
            <th>メンバー数</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @group.group_name %></td>
            <td>
              <% @group.users.each do |user| %>
                <li style="list-style:none;"><%= user.decorate.full_name %></li>
              <% end %>
            </td>
            <td><%= @group.users.count %></td>
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to 'Add User', add_user_teacher_group_path(@group), class: "btn btn-sm btn-primary" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>